In [7]:
x = range(0,15)
print(list(x))
for i in x:
    print(i)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [9]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

i = 0
for l in 'abcdef':
    print(f'A letra {l} esá na posição {i}')
    i+=1

In [13]:
i = 0
for l in 'abcdef':
    print(f'A letra {l} esá na posição {i}')
    i+=1

A letra a esá na posição 0
A letra b esá na posição 1
A letra c esá na posição 2
A letra d esá na posição 3
A letra e esá na posição 4
A letra f esá na posição 5

In [17]:
i = 0
for i,l in enumerate('abcdef'):
    print(f'A letra {l} esá na posição {i}')

A letra a esá na posição 0
A letra b esá na posição 1
A letra c esá na posição 2
A letra d esá na posição 3
A letra e esá na posição 4
A letra f esá na posição 5

In [21]:
l1=list(range(0,6))
l2=['a','b','c','d','e']
zip(l1,l2)

In [23]:
list(zip(l1,l2))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [25]:
for t1, t2 in zip(l1, l2):
    print(t1, t2)

0 a
1 b
2 c
3 d
4 e

In [31]:
x=2
print(x in (1,2,3))
print(x in (4,5,6))

True
False

In [34]:
min(l1)

0

In [36]:
max(l1)

5

In [62]:
l1=list(range(0,6))
from random import shuffle
print(l1)
shuffle(l1)
print(l1)

[0, 1, 2, 3, 4, 5]
[0, 4, 5, 2, 1, 3]

In [64]:
input("Digite um número")

Digite um número1

'1'

In [70]:
a = int(input("Digite um número"))
print(a)
type(a)

Digite um número1
1

int

In [72]:
c = float(input("Digite um número"))
print(c)
type(c)

Digite um número123
123.0

float